body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg");
    background-size: cover;
    background-position: center;
}/* Styling for the form elements (labels, inputs, select) */
}

h1 {
    font-size: 48px;
    color: #fff; /* White text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #9c8827;
}